*{
    /*border: 1px solid #000;*//*Solo es para que podamos ver mejor el diseño pero luego hay que quitar*/
    box-sizing:border-box; /*esto es de css3 pero es para que podamos hacerlo mas facil*/
}

.clearfix   {

     zoom:  1;

}
.wrapper:before, .wrapper:after, .clearfix:before, .clearfix:after{
    content: "";
    display: table;
}

.wrapper:after,
.clearfix:after{
    clear:both;

}

html, body {
    background-color: #f7f7f7;
}

body {
    font:14pt/1.48em "Source Sans Pro", sans-serif;
    color: #464646;
}
a {
    color:#000;
    text-decoration: none;
}

ul{
    margin: 0;
}

table{
    width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    margin-top: 0;
}

h1, .h1{
    font-size: 2em; /* 28 puntos que media el h1 dividido por los 14 puntos del tamaño fuente */
    line-height: 1.08em; /* 30.24 entre 28pt*/
    text-transform: uppercase;
    font-weight: normal;
}

/* Textos */
.bold{font-weight: bold;}
.italyc{font-style: italic;}
.normal{font-weight: normal;}
.small{font-size: 0.8em;}
.big{font-size: 1.5em;}
.uppercase{text-transform: uppercase;}
.list{list-style: none; padding: 0;}
.center{text-align: center;}
.list p{margin: 0;}
.list li{padding: 20px 0;}
.list li:first-child{padding-top: 0;}
.list li h4{color: #03f; font-style: italic;}
.list-blue li{
    background: transparent url("../imagenes/bolita-azul.png") no-repeat 0 10px;
    padding-left: 20px
}

/*Colores*/
.txt-red{
    color:#F00;
}
.txt-blue{color: #00F;}

.bg-white{
    background-color:#FFF;
}


.price{
    font-size: 1.4em;
    font-weight: bold;
}

/*Botones*/
.btn{
    display: inline-block;
    width: 100px;
    padding: 5px;
    margin: auto 5px;

    color:#FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    border-radius: 5px;
    box-shadow: 0 1px 5px #cdcdcd;
    background-image: linear-gradient(to bottom, #999, #CCC);
}
.btn-red{
    background-image: linear-gradient(to bottom, #f74040 80%, #d33535);
}
.btn-big{
    padding: 8px inherit;
}

/*Cabecera*/
/*breadcrum en mayusculas*/
/*actual en rojo*/
.breadcrumb{
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}
/*
.breadcrumb .actual,
.menu .actual{
    color:red;
}
*/
/*layout*/
.wrapper{
    width: 990px;
    margin: 0 auto;
    padding: 40px 0;
}
.bg-gray:first-child .wrapper{
    padding-bottom: 0;
}
.description{
    padding-left: 20px;
}
.fleft{float:left;}
.col-25{width: 25%;}
.col-50{width: 50%;}
.col-75{width: 75%;}
.col-100{width: 100%;}

.breadcrumb li{
    display: inline-block;
}
.breadcrumb li:after{
    content: "/";
}

.breadcrumb li.actual{
    content: "";
}
.breadcrumb li:last-child:after{
    content: "";
}
.breadcrumb a{
    margin-right: 5px;
}

.marco{
    background-color:#FFF;
    padding: 10px;
    box-shadow: 0 0 5px#cdcdcd;
}
marco p{
    margin: 0;
}
img{
    max-width: 100%;
}


/*TODO*/
/*
botones
tabla
balines
pie en linea
*/